

.content{
  display: grid;
  grid-template-areas: 
  "toolbar toolbar"
  "nav main";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 10% 1fr;
  min-height: 100vh;
  
}

.title {
  margin: 0.5rem; 
}

.fav-count {
  font-size: 0.9rem; /* Reduce font size for count */
  margin-bottom: 0.5rem; /* Add spacing between count and next item */
}
.main{
  background-color: #CAF4FF;
  grid-area: main;
  flex: 1; /* Take remaining vertical space */
  overflow-y: auto;
  
}
.nav{
  background-color: #A0DEFF;
  grid-area: nav;
}
a:hover{
  background-color: rgb(164, 198, 241);
}

.toolbar{
  background-color: #5AB2FF;
  grid-area: toolbar;
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}


.paginator{
  background-color: #5AB2FF;
  grid-area: paginator;
  width: 100%;
}

.block{
  display: block;
  padding: .5rem;
  border: 1px solid rgb(90, 197, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #FFF9D0;
}

.author-list{
  padding: 10px;
}

.favorite-btn {
  align-self: flex-end;
}

.mt-1{
  margin-top: .5rem;
}
.m-1{
  margin: .1rem .5rem .5rem 0rem;
}
.image-icon{
  height: 19px;
  width: 20px;
}
/* Responsive Styles */
/* @media screen and (max-width: 767px) {
  .content{
      display: grid;
      grid-template-areas: 
      "toolbar"
      "nav"
      "main";
      grid-template-columns:  1fr;
      grid-template-rows: 10% 10% 1fr ;
      min-height: 100vh;
  
  }
 
} */

@media screen and (max-width:  767px) {
  .content{
      display: grid;
      grid-template-areas: 
      "toolbar"
      "nav"
      "main";
      grid-template-columns:  1fr;
      grid-template-rows: 4% 4% 1fr ;
      min-height: 100vh;
  
  }
  
}